@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;600&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-bcg: #fff;
  --clr-bcg-second: hsl(0, 0%, 98%);
  --clr-bcg-third: hsla(32, 100%, 69%, 0.157);
  --btn-bcg: hsl(0, 0%, 92%);
  --clr-font: hsl(207, 5%, 32%);
  --clr-font-input: hsl(210, 7%, 40%);
  --clr-font-second: hsl(0, 0%, 85%);
  --clr-font-third: hsl(180, 1%, 83%);
  --clr-primary: #e44e02;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  /* dark shades of primary color*/
  --clr-primary-1: #e44e02;
  --clr-primary-2: #ee6a05;
  --clr-primary-3: #f58505;
  --clr-primary-4: #fea406;
  /* other to color  match with primary color */
  --clr-secondary-1: #e23e2b;
  --clr-secondary-2: #d42512;
  --clr-secondary-3: #aa1622;
  --clr-secondary-4: #770833;
  --clr-secondary-5: #6d0535;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(206, 7%, 20%);
  --clr-grey-2: hsl(206, 7%, 27%);
  --clr-grey-3: hsl(206, 7%, 37%);
  --clr-grey-4: hsl(206, 7%, 47%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(206, 7%, 57%);
  --clr-grey-6: hsl(206, 7%, 67%);
  --clr-grey-7: hsl(206, 7%, 77%);
  --clr-grey-8: hsl(206, 7%, 87%);
  --clr-grey-9: hsl(206, 7%, 97%);
  --clr-grey-10: hsl(206, 7%, 99%);
  --clr-white: #fff;
  --clr-black: #222;
  /* status colors*/
  --clr-active: #4fc56d;
  --clr-busy: #e65050;
  --clr-break: #ec761c;
  --clr-offline: #7c7876;
  /* other vars*/
  --transition: all 0.2s ease;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --phone: 600px;
  --tablet: 900px;
  --max-width: 1200px;
  --fixed-width: 620px;
}

.dark-theme {
  --clr-bcg: var(--clr-grey-1);
  --clr-bcg-second: var(--clr-grey-2);
  --clr-bcg-third: hsla(32, 100%, 69%, 0.157);
  --btn-bcg: var(--clr-grey-3);
  --clr-font: rgb(255, 255, 255);
  --clr-font-input: rgb(160, 160, 160);
  --clr-font-second: var(--clr-grey-4);
  --clr-font-third: var(--clr-grey-2);
  --clr-primary: #f58505;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-bcg-second: hsl(0, 0%, 98%);
  --clr-bcg-third: hsla(32, 100%, 69%, 0.157);
  --btn-bcg: hsl(0, 0%, 92%);
  --clr-font: hsl(207, 5%, 32%);
  --clr-font-input: hsl(210, 7%, 40%);
  --clr-font-second: hsl(0, 0%, 85%);
  --clr-font-third: hsl(180, 1%, 83%);
  --clr-primary: #e44e02;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.btn {
  font: unset;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  border: none;
  padding: 13px;
  border-radius: 5px;
  display: inline-block;
  color: var(--clr-primary-2);
  font-weight: 400;
  transition: var(--transition);
  background-color: white;
  box-shadow: rgba(236, 161, 99, 0.52) 0px 5px 10px;
  z-index: 2;
  text-transform: capitalize;
}

.btn-app {
  display: flex;
  align-items: center;
  justify-content: start;
  font: unset;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  border: none;
  padding: 5px 22px;
  margin: 10px 5%;
  border-radius: 5px;
  color: var(--clr-white);
  font-weight: 400;
  transition: var(--transition);
}
@media only screen and (max-width: 1350px) {
  .btn-app {
    width: 80%;
    padding: 5px;
  }
}
svg {
  margin-bottom: 2px;
}
.btn-app:hover {
  color: var(--clr-primary-4);
  background-color: var(--clr-grey-2);
}

.active {
  color: var(--clr-primary-4) !important;
  background-color: var(--clr-grey-2) !important;
}

.bar {
  margin-left: 5%;
  width: 90%;
  opacity: 0.4;
}

.remove-tool {
  position: absolute;
  right: -5px;
  top: 0;
  font: unset;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  border: none;
  padding: 2px 5px;
  margin: 8px;
  border-radius: 5px;
  color: var(--clr-white);
  background-color: var(--clr-secondary-3) !important;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.6rem;
  box-shadow: var(--shadow);
}
.remove-tool:hover {
  background-color: #d81c1c !important;
}

.container {
  border: 2px solid var(--clr-grey-7);
  margin: 0 10% 10rem 10%;
  border-radius: 5px;
  background-color: var(--clr-bcg);
  padding: 1rem;
  height: fit-content;
  box-shadow: var(--shadow);
  @media screen and (max-width: 1400px) {
    margin: 0 3% 10rem 3%;
  }
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid hsl(211, 39%, 23%);
  border-color: hsl(211, 39%, 23%) transparent hsl(211, 39%, 23%) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.tools-wrapper {
  grid-area: interface;
  background-color: var(--clr-bcg-second);
  transition: var(--transition);
  color: var(--clr-font);
  width: 85vw;
  overflow-y: scroll;
  position: relative;
}
.tools-wrapper ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.tools-wrapper::-webkit-scrollbar {
  width: 14px;
  background-color: transparent;
}

.tools-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--clr-grey-6);
}
@media only screen and (min-width: 1600px) {
  .tools-wrapper {
    width: calc(100vw - 230px);
  }
}
